body {
  background-color: rgba(89, 143, 115, 0.52)
}

header {

}

nav {

}

.grid {
  padding: 10px;
  margin: 10px auto;
  display: flex;
  height: 90%;
  background-color: rgba(181, 207, 233, 0.62);
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  position: relative;
  transition: all .3s linear;
  transform-style: preserve-3d;
  margin: 5px;
  display: flex;
}

.card,
.back,
.front {
  padding: 5px;
  height: 150px;
  width: 150px;
}


.back,
.front {
  position: absolute;
  backface-visibility: hidden;
}

.front {
  z-index: 2;
  background-color: rgb(238, 161, 117)
}

.back {
  margin: 0 auto;
  transform: rotateY(180deg);
  background-color: rgba(181, 207, 233, 0.62);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.selected {
  transform: rotateY(180deg);

}

.match .front {
  display: none !important;
}

footer {

}

/* MODAL STYLING */
/* .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} */
