body {
  background-color: #FFE1C6;
  z-index: -2;
}

h1, h2, h3, footer {
  font-family: 'Questrial', sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 3.5em;
  line-height: 1em;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.inset-text {
  color: rgba(9, 64, 76, 0.7);
  text-shadow: 1px 2px 4px #FFFCFA, 0 0 0 #fff, 1px 2px 4px #FFFCFA;
}

h2 {
  font-size: 1.5em;
  line-height: 1em;
  margin: 0 auto;
}

h3 {
  font-size: 1em;
  line-height: 1em;
  margin: 0 auto;
}

.subheader {
  font-family: 'Roboto', sans-serif;
  margin: 0px 10px 15px 10px;
  color: rgba(85, 119, 125, 0.8);
  text-shadow: 1px 2px 4px #FFFCFA, 0 0 0 #fff, 1px 2px 4px #FFFCFA;
}

nav {
  display: flex;
  justify-content: center;
}


.start,
.wordOne,
.wordTwo,
.wordThree,
.try-again,
.restart {
  font-family: "Questrial", sans-serif;
  margin: 0 auto;
  display: block;
  color: #DCC7AA;
  font-size: 20px;
  background: #09404C;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  text-shadow: 0px 0px 0px #FFDCA5;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
}

.start:hover,
.wordOne:hover,
.wordTwo:hover,
.wordThree:hover,
.try-again:hover,
.restart:hover {
background: rgba(107, 122, 143, 0.8);
text-decoration: none;
}


a {
  display: flex;
  border-spacing: 5px;
  color: #09404C;
  padding: 5px;
  font-family: 'Questrial', sans-serif;
  font-size: 1.25em;
  text-decoration: none;
  margin: 15px;
}

a::before,
a::after {
	border: 2px solid rgba(107, 122, 143, 0.8);
	content: '';
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

a::after {
  border-color: rgba(178, 153, 137, 0.8);
	opacity: 0;
  text-decoration: none;
	-webkit-transform: translateY(-7px) translateX(6px);
	-moz-transform: translateY(-7px) translateX(6px);
	transform: translateY(-7px) translateX(6px);
}

a:hover::before,
a:focus::before {
  opacity: 0;
  text-decoration: none;
	-webkit-transform: translateY(5px) translateX(-5px);
	-moz-transform: translateY(5px) translateX(-5px);
	transform: translateY(5px) translateX(-5px);
}

a:hover::after,
a:focus::after {
  opacity: 1;
  text-decoration: none;
	-webkit-transform: translateY(0px) translateX(0px);
	-moz-transform: translateY(0px) translateX(0px);
	transform: translateY(0px) translateX(0px);
}


.score, .guess {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25em;
  display: flex;
  justify-content: space-between;
  margin: 10px 10px;
  color: rgba(85, 119, 125, 0.8);
  text-shadow: 1px 1px 1px #FFFCFA, 0 0 0 #fff, 1px 1px 1px #FFFCFA;
}

#game {
  pointer-events: none;
}

#scoreboard {
  height: auto;
  width: auto;
  display: center;
  align-content: space-between;
  margin: 5px;

}

.card {
  position: relative;
  transition: all .3s linear;
  transform-style: preserve-3d;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  pointer-events: all;
}

.grid {
  padding: 5px;
  margin: 0 auto;
  display: flex;
  height: 90%;
  background-color: #DCC7AA
  justify-content: center;
  flex-wrap: wrap;
  user-select: none;
  pointer-events: none;
}

.grid .selected {
  user-select: none;
  pointer-events: none;
}

.card,
.back,
.front {
  padding: 5px;
  margin: 5px;
  height: 150px;
  width: 150px;
}

.back,
.front {
  position: absolute;
  backface-visibility: hidden;
}

.front {
  z-index: 2;
  background-color: #DDF4FF;
  border-radius: 10px;
}

.back {
  margin: 0 auto;
  padding: 0;
  border-radius: 10px;
  transform: rotateY(180deg);
  background-color: #FFE1C6;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}

.selected {
  transform: rotateY(180deg);
  pointer-events: none;

}
.match {
  pointer-events: none;
}

.match .front {
  display: none !important;
  pointer-events: none;
}

.instructions {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color: #093F4C;
  text-align: center;
  margin: auto 0;
}

footer {
  display: flex;
  margin: 20px auto;
  font-size: 1em;
  color: #093F4C
}

/* MODAL STYLING */
.modalOne,
.modalTwo,
.modalThree,
.modalFour {
  margin: auto 0;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(9, 64, 76, 0.7);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-contentOne,
.modal-contentTwo,
.modal-contentThree,
.modal-contentFour {
  font-family: Roboto, sans-serif;
  color: #09404C;
  font-size: 1.5em;
  margin: auto 0;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFEEE0;
  padding: 1rem 1.5rem;
  width: 24rem;
}

.show-modalOne,
.show-modalTwo,
.show-modalThree,
.show-modalFour {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
