body {
  background-color: rgba(89, 143, 115, 0.52)
}

header {

}

nav {

}

#game-container {
  padding: 0;
  margin: 0;
  display: flex;
  height: 90%;
  background-color: rgba(181, 207, 233, 0.62);
  justify-content: center;
  flex-wrap: wrap;
}


.tile-front {
  background-color: rgb(215, 140, 97);
  margin: 40px 20px;
  padding: 5px;
  height: 100px;
  width: 100px;
  display: flex;
}

.tile-back {
  background-color: rgb(188, 219, 216);
  margin: 40px 20px;
  padding: 5px;
  height: 100px;
  width: 100px;
  display: flex;
}
